<% const styles = ['/css/home.css'] %>
<%- include('layout/startPage',{title: 'HomePage',styles}) %>
<section class="banner">
    <img src="https://gameshopvideojuegos.com/wp-content/uploads/2021/08/Banner-web-768x234.png" alt="banner">
</section>
<main>
    <div class="container games">
        <section class="sale">
            <h2 class="sale__title">Listado de Juegos</h2>
            <% if (games && games.length > 0) { %>
                <% games.forEach(game => { %>
                    <article class="game">
                        <a href="/product/detail/<%= game.id %>">
                            <picture class="game__image">
                                <img src="img/games/<%= game.image %>" alt="imagen">
                            </picture>
                            <div class="game__container">
                                <p class="game__name"><%= game.name %></p>
                                <div class="game__button">
                                    <button type="button" class="game__carrito">Enviar al carrito</button>
                                </div>
                                <p class="game__price">$ <%= game.price %></p>
                            </div>
                        </a>
                    </article>
                <% }) %>
            <% } else { %>
                <h2 class="noStock">Actualmente no hay juegos Disponibles, regrese mas Tarde</h2>
            <% } %>
        </section>
        <input type="hidden" name="page" value="<%= locals.page || 0 %>/<%= locals.count %>">
        <div id="page" class="page"></div>
    </div>
</main>
<section class="banner" style="margin-bottom: 0;">
    <img src="https://www.npd.com/wp-content/uploads/2021/05/video-games-banner-1440x480.jpeg" alt="banner">
</section>
<script type="text/javascript">
    const total = document.querySelector('.nav__shopping');
    sessionStorage.setItem('total',total.innerText)
</script>
<% const scripts = ['/js/pagination.js'] %>
<%- include('layout/endPage',{scripts}) %>