<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head/meta') %>
    <title>Document</title>
    <%- include('../partials/head/css') %>
    <link rel="stylesheet" href="/css/createProduct.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <main>
        <div class="form-container">
            <h1>Formulario de edición de Producto</h1>
            <form method="POST" action="/product/edit/<%= product.id %>?_method=PATCH">
                 <div class="formContent-container">
                    <label for="nombre">Nombre Producto:</label>
                    <input type="text" id="nombre" name="nombre" value="<%= product.nombre %>">
                </div>
                <div class="formContent-container">
                    <label for="categoria">Categoría:</label>
                    <select name="categoria">
                        <option value="value1">Categoría 1</option>
                        <option value="value2" selected>Categoría 2</option>
                        <option value="value3">Categoría 3</option>
                    </select>
                </div>
                <div class="formContent-containerMed">
                    <label for="precio">Precio:</label>
                    <input type="text" id="precio" name="precio" value="<%= product.precio %>">
                </div>
                <div class="formContent-container">
                    <label for="clasifProducto">ClasificaciónESRB:</label>
                    <select name="clasifProducto">
                        <option value="value1">Clasificación 1</option>
                        <option value="value2">Clasificación 2</option>
                        <option value="value3" selected>Clasificación 3</option>
                    </select>
                </div>
                <div class="formContent-containerArea">
                    <label for="descripcion">Descripción:</label>
                    <textarea name="descripcion" id="textArea" cols="25" rows="6"><%= product.descripcion %></textarea>
                </div>
                <div class="formContent-containerMed">
                    <label for="sku">Sku:</label>
                    <input type="text" id="sku" name="sku" value="<%= product.sku %>">
                </div>
                <div class="formContent-containerFile">
                    <label for="imagen">Imágen producto:</label>
                    <input type="file" id="imagen" name="imagen">
                </div>
                <div class="formContent-containerBotons">
                    <input class="submit" type="submit" value="Editar Producto">
                    <input class="reset" type="reset" value="Limpiar Campos">
                </div>
            </form>
        </div>
    </main>


    <%- include('./../partials/footer') %>
</body>
</html>