<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof product !== 'undefined' ? product.nombre : 'Detalle' %> | GamesProShop</title>
    <link rel="stylesheet" href="/css/productdetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('../partials/header') %>
    <main class="container product-detail">
        <section class="categories">
            <button type="button">
                <i class="fas fa-bars">Filtrar ▼</i>
            </button>
            <ul>
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
            </ul>
        </section>
        <% if(typeof product !== 'undefined'){ %> 
            <section class="product">
                <picture class="img">
                    <img src="/img/img-warcraft.jpg" alt="productoA">
                    <!-- <img src="/img/<%= product.imagen %> " alt="<%= product.nombre %> "> -->
                </picture>
                <article>
                    <h1><%= product.nombre %> </h1>
                    <div class="price">
                        <p><span>$</span><%= product.precio %> </p>
                    </div>
                    <div class="description">
                        <p><%= product.descripcion %> </p>
                    </div>
                    <div class="categories">
                        <p>Categorias</p>
                        <div>
                            <span class="categories__title">Plataformas:</span>
                            <ul class="plataform">
                                <% product.categorias.plataforma.forEach(plataforma => { %>
                                    <li><%= plataforma %></li>
                                <% }); %>
                            </ul>
                        </div>
                        <div>
                            <span class="categories__title">Generos:</span>
                            <ul class="genero">
                                <% product.categorias.genero.forEach(genero => { %>
                                    <li><%= genero %></li>
                                <% }); %>
                            </ul>
                        </div>
                        <div>
                            <span class="categories__title">Estado:</span>
                            <ul class="estado">
                                <% product.categorias.estado.forEach(estado => { %>
                                    <li><%= estado %></li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="count">
                        <button type="button">+</button>
                        <input type="number" name="" id="" value="1" min="1" max="5" placeholder="1">
                        <button type="button">-</button>
                    </div>
                    <div class="send">
                        <button type="button">Agregar al Carrito</button>
                    </div>
                </article>
            </section>
        <% } else { %>
            <section class="">
                <header>
                    <h2>No se encontro este producto</h2>
                </header>
            </section>
        <% } %>
    </main>
    <%- include('./../partials/footer') %>
</body>
</html>