<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head/meta') %>
  <title>Productos</title>
  <%- include('../partials/head/css') %>
  <link rel="stylesheet" href="/css/tablaProducto.css">
</head>

<body>
  <!-- header -->
  <%- include ("../partials/header") %>
    <!-- header end -->
    <h1>Listado de productos</h1>
    <div class="button_edit">
      <button type="submit"><a href="product/create" class="create">Crear</a></button>
    </div>
    <div class="container">
      <table class="table_container">
        <tr>
          <th>Id</th>
          <th>imagen</th>
          <th>Nombre del producto</th>
          <th><i class="far fa-edit"></i></th>
          <th><i class="far fa-trash-alt"></i></th>
        </tr>

        <% products.forEach(function(product) { %>
          <tr>
            <td>
              <%= product.id %>
            </td>
            <td><img src=" <%= product.imagen %>" alt="producto"></td>
            <td>
              <%= product.nombre %>
            </td>
            <td>
              <button type="submit">
                <a href="/product/edit/<%= product.id %>">Editar</a>
              </button>
            </td>
            <td>
              <button type="submit">
                <a href="/product/delete/<%= product.id %>">Eliminar</a>
              </button>
            </td>
          </tr>
          <% }); %>

      </table>

    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>
      <!-- footer end -->


</body>

</html>