<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head/meta') %>
    <title>Página de registro</title>
    <%- include('../partials/head/css') %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <!-- header -->
    <%- include ("../partials/header")  %>
    <section class="section">
        <main>
            <div class="form_register">
                <form class="form-register"  action="/user/register" method="POST" enctype="multipart/form-data">
                    <h1>Formulario de Registro</h1>
                    <div class="campo">
                            <label for="fullname"><b>Nombre y Apellido</b></label>
                            <input type="text" name="fullname"  id="fullname" placeholder="Nombre y Apellido" value="<%= locals.oldData ? oldData.fullname : null %>" />
                            <% if(locals.errors && errors.fullname){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.fullname.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="username"><b>Nombre de Usuario</b></label>
                            <input type="text" name='username' id="username" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.username : null %>"/>
                            <% if(locals.errors && errors.username){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.username.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="date"><b>Fecha de Nacimiento</b></label>
                            <input type="date" name ='date' id="date" placeholder="" value="<%= locals.oldData ? oldData.date : null %>" />
                            <% if(locals.errors && errors.date){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.date.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="domicilio"><b>Domicilio</b></label>
                            <input type="text" name='domicilio' id="domicilio" placeholder="Domicilio" value="<%= locals.oldData ? oldData.domicilio: null %>" />
                            <% if(locals.errors && errors.domicilio){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.domicilio.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="perfil" style="display: block;"><b>Perfil de usuario</b></label>
                            <div>
                                <input type="radio" name="perfil" value="hombre" <%= locals.oldData && oldData.perfil === 'hombre' ? 'checked' : null %> />Hombre
                                <input type="radio" name="perfil" value="mujer" <%= locals.oldData && oldData.perfil === 'mujer' ? 'checked' : null %> />Mujer
                            </div>
                            <% if(locals.errors && errors.perfil){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.perfil.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <h4>Intereses</h4>
                            <label for="accion">
                                <input type="checkbox" name="categories" id="accion" value="accion" <%= locals.oldData && oldData.categories?.includes('accion') ? 'checked' : null %>/>Acción
                            </label>
                            <label for="De rol">
                            <input type="checkbox" name="categories" id="De_rol" value="rol" <%= locals.oldData && oldData.categories?.includes('rol') ? 'checked' : null %> />De rol
                            </label>
                            <label for="Estrategia">
                                <input type="checkbox" name="categories" id="Estrategia" value="estrategia" <%= locals.oldData && oldData.categories?.includes('estrategia') ? 'checked' : null %> />Estrategía
                            </label>
                            <label for="Aventura_Y_Casual">
                                <input type="checkbox" name="categories" id="Aventura" value="aventura" <%= locals.oldData && oldData.categories?.includes('aventura') ? 'checked' : null %> />Aventura y Casual
                            </label>
                            <label for="simulacion">
                                <input type="checkbox" name="categories" id="simulacion" value="simulacion" <%= locals.oldData && oldData.categories?.includes('simulacion') ? 'checked' : null %> />Simulación
                            </label>
                            <label for="Deportes_Y_Carreras">
                                <input type="checkbox" name="categories" id="Deportes_Y_Carreras" value="deportesYCarreras" <%= locals.oldData && oldData.categories?.includes('deportesYCarreras') ? 'checked' : null %> />Deportes y Carreras
                            </label>
                            <% if(locals.errors && errors.categories){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.categories.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo block">
                            <label for="avatar"><b>Elegí tu foto de usuario</b></label>
                            <input type="file" name="avatar">
                            <% if(locals.errors && errors.avatar){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.avatar.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="password">Contraseña <b></b> </label>
                            <input type="password" name="password" id="password" placeholder="Contraseña" value="">
                            <% if(locals.errors && errors.password){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.password.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="password_repeat">Repetir Contraseña <b></b> </label>
                            <input type="password" name="password_repeat" id="password_repeat" placeholder="Repetir Contraseña" value="">
                            <% if(locals.errors && errors.password_repeat){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.password_repeat.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="form__register--email">Dirección de correo electrónico *</label>
                            <input class="controls" type="email" name="email" id="correo" placeholder="example@email.com" value="<%= locals.oldData ? oldData.email : null %>">
                            <% if(locals.errors && errors.email){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.email.msg %></p>
                            <% } %>
                        </div>
                        <div class="campo">
                            <label for="country"><b>Pais de nacimiento</b></label>
                            <select name="country" class="form-select" id="form-select">
                                <option selected disabled> Elige un país</option>
                                <% let countries = ['Argentina','Bolivia','Brasil','Colombia','Chile','Ecuador','Paraguay','Perú','Uruguay','Venezuela']; %>
                                <% for (const oneCountry of countries) { %>
                                    <option value="<%= oneCountry %>" <%= locals.oldData && (oldData.country === oneCountry) ? 'selected' : null %>> <%= oneCountry %> </option>
                                <% } %> 
                            </select>
                            <% if(locals.errors && errors.country){ %>
                                <p style="color: #f90808 ; background-color:#ed191942; border-radius: 8px; text-align:center ;"><%= errors.country.msg %></p>
                            <% } %>
                        </div>
                            
                           
                                <p class="p-info">Se enviará una contraseña a tu dirección de correo electrónico.</p>
        
                                <p class="p-info">Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos descritos en nuestra política de privacidad.</p>
                               
                                <p class="p-info"><a href="#">¿Ya tengo una cuenta?</a></p>
                           


                        <div class="button">
                            <button type="submit">Enviar</button>
                        
                            <button type="reset">Borrar</button>
                        </div>
                    </div>
                </main>
                
            
        </form>
    
    </section>

<%- include ("../partials/footer")  %>
</body>
</html>